* {
  padding: 0;
  margin: 0;
}
.bliss-container-light {
  height: 100%;
  background-color: #2e3440;
  padding: 10.375rem 14rem 10.375rem 14rem;
}
.bliss-container-dark {
  height: 100%;
  background-color: #252a34;
  padding: 10.375rem 14rem 10.375rem 14rem;
}
/* page 1 */
.bliss-intropage {
  height: 80vh;
  background-color: #252a34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 18.375rem 20.375rem 0 9.375rem;
}
.bliss-right {
  text-align: center;
}
.bliss-title-container {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.bliss-title-container h1 {
  color: #00ceb4;
  font-size: 2.2rem;
}
.bliss-title-container p {
  display: flex;
  align-items: center;
  opacity: 50%;
  margin-left: 0.625rem;
  font-size: 0.8rem;
}
.bliss-intropage-para {
  color: white;
  font-style: italic;
  width: 100%;
  max-width: 31.25rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.bliss-intro-para-highlight {
  background-color: #00ceb4;
  padding: 0.0625rem 0.125rem 0.0625rem 0.25rem;
  position: relative;
}
.bliss-cat-container {
  display: flex;
  flex-direction: row;
  margin-top: 1.875rem;
}
.bliss-catagory {
  border: solid 1px #00ceb4;
  color: white;
  padding: 0 5px 0 5px;
  width: 5rem;
  text-align: center;
  margin-right: 1.25rem;
  font-size: 0.8rem;
}
.bliss-seelive-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bliss-seelive {
  border: solid 1px #00ceb4;
  color: #00ceb4;
  padding: 0 0.5rem 0 0.5rem;
  max-width: 12.5rem;
  font-size: 0.8rem;
  margin-right: 10px;
  transition: 0.3s ease-in-out;
}
.bliss-seelive:hover {
  border: solid 1px #00ceb4;
  background: #00ceb4;
  color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
/* page 2 */
.bliss-intro {
  max-width: 100%;
  background-color: #2e3440;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bliss-intro-title {
  font-size: 1.8rem;
  border-bottom: #00ceb4 solid 1px;
  width: 16%;
  margin-bottom: 2.5rem;
}
.bliss-intro-para {
  width: 100%;
  font-size: 1.2rem;
  text-align: justify;
}
.bliss-intro img {
  position: relative;
  top: 3.125rem;
  width: 37.5rem;
}
/* page 3 */
.bliss-problem {
  padding: 10.375rem 14rem 10.375rem 14rem;
}
.bliss-para-wrap {
  background-color: #252a34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}
#bliss-intro-para-spacing {
  padding-left: 3.125rem;
}
.bliss-problem-img {
  display: flex;
  max-width: 100%;
  margin: auto;
}
/* page 4 */
.bliss-concept-story {
  height: 80vh;
  background-color: #252a34;
  padding: 10.375rem 14rem 0 14rem;
  overflow: hidden;
}
.bliss-wireframe-img-one {
  display: flex;
  max-width: 100%;
  margin: auto;
  width: 34.375rem;
}
.bliss-wireframe-img-bottom-container {
  margin-top: 6.25rem;
  width: 100%;
  height: 15.625rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bliss-wireframe-bottom-img {
  width: auto;
}
.bliss-wireframe-arrow {
  color: #00ceb4;
  font-size: 2rem;
}
/* page 5 */
.bliss-solution {
  background-color: #252a34;
  height: 35vh;
  padding: 10.375rem 14rem 0 14rem;
}
.bliss-full-img {
  width: 100%;
  margin-bottom: 3.125rem;
}
.bliss-goodbye-message {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 3.125rem;
}
.bliss-goodbye-message-small {
  font-size: 0.8rem;
}
.Link {
  margin-top: 2.5rem;
  color: #00ceb4;
  margin-left: 2.5rem;
}
.link {
  text-decoration: none;
}

@media (max-width: 1100px) {
  .Link {
    margin-top: 2.5rem;
    color: white;
    margin-left: 2.5rem;
  }
}
