.Links {
  backdrop-filter: blur(15px);
  position: fixed;
  width: 100%;
  margin: auto;
  text-align: center;
  z-index: 200;
  top: 0;
}
.Links ul {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 400;
  height: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}
.Links li {
  margin-right: 40px;
  list-style: none;
}
.Links a {
  text-decoration: none;
  list-style: none;
  color: rgba(255, 255, 255, 0.459);
}

.Links a:hover,
.Links a:active,
.Links a.active {
  padding-bottom: 10px;
  color: white;
  border-bottom: solid 3px #00ceb4;
}
